# installed packages
node_modules/

# build output
dist/

# test path
testPhotoPath/
thumbnails/

# logs
*.log

# test.ts
test.ts

.vscode/
.idea/

package-lock.json

# agents
CLAUDE.md
AGENT.md
GEMINI.md
