# installed packages
node_modules/
.npmrc

# build output
dist/

# test path
testPhotoPath/
thumbnails/

# logs
*.log

# test.ts
test.ts

.vscode/
.idea/

.claude
.env

package-lock.json

# agents
CLAUDE.md
AGENT.md
GEMINI.md
